Each variable x, y and z will have values of 0 or 1. All permutations of lists in the form [i,j,k]
Remove all arrays that sum to n=2  to leave only the valid permutations

In [73]:
a=1
b=1
c=1
n=2
print([[i, j, k] for k in range(0, c+1) for j in range(0, b+1) for i in range(0, a+1) if sum([i, j, k]) !=n])

[[0, 0, 0], [1, 0, 0], [0, 1, 0], [0, 0, 1], [1, 1, 1]]

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years

In [30]:
a = 1990
print(True if a%4 == 0 and a%100 !=0 or a%400 == 0 else False)

False

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [80]:
n = int(input())
arr = map(int, input().split())
arr2 = list(arr)
print(max([i for i in arr2 if i!=max(arr2)]))

5
2 3 6 6 5
5

In [86]:
n = 2
arr = map(int, input().split())
print(sorted(list(set(arr)))[-2])

2 3 6 6 5
5

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [95]:
scorelist=[]
namelist=[] 
for _ in range(int(input())):
    name = input()
    score = float(input())
    namelist.append(name)
    scorelist.append(score)
d = dict(zip(namelist,scorelist))
b = sorted(d.values())[1:][0]
print([a for a in d.keys() if d[a] == b])

marksheet = [['shruti', 5], ['medha', 7]]
second_highest = sorted(list(set([marks for name, marks in marksheet])))[1]
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

2
fg
45
gh
456

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Example

The query_name is 'beta'. beta's average score is .

Sample Input 0

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
Sample Output 0

56.00

In [205]:
n = 2
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = 'Harsh'
scores = student_marks[query_name]
print((sum(scores)/len(scores)))

Anurag 26 28 30
Harsh 25 26.5 28
26.5

In [207]:
from decimal import Decimal
print(round(Decimal(sum(scores)/len(scores)),2))

newlist=[]
for key in student_marks.keys():
    newlist.append([key, round(float(sum(student_marks[key]))/len(student_marks[key]),2)])
print('/n'.join([str(value) for key,value in newlist if key==query_name]))

26.50
26.5

In [203]:
newlist

[['Harsh', 26.5], ['Anurag', 28.0]]